.download {
    width: 80%;
    margin: 100px auto;
    background-color: green;
    height: 300px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.error {
    text-align: center;
    color: red;
}
.success {
    text-align: center;
    color: green;
}